.daoWrapper{
    border:2px solid #F2E7D4;
    width: 90%;
    height:80vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav{
    width: 90%;
    display: flex;
    align-items: center;
    height:10%;
    padding:0 1vw;
}
.nav h2{
    position: absolute;
    text-align: center;
    width: 88%;
    color:#F2E7D4;
}
.nav a{
    color: white;
}
.main{
    border:2px solid blue;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    border:2px solid blue;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left img{
    width: 80%;
    height:30%;
}
.left h2{
    font-size: 32px;
}
.right{
    border:2px solid purple;
    width: 70%;
    margin-right: 5%;
}