.aboutWrapper{
    padding-left: 3vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

}
.aboutHeading{
    font-family: 'Chomsky';
    font-size: 48px;
    height: 20%;
}
.mainAbout{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    padding:0 10%;
}
.AboutLeft{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.AboutLeft img{
    height: 100%;
}
.AboutRight{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.rightContentAbout{
    width: 70%;
    border:2px solid #F2E7D4;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding:0 5%;
}
.contentHeadingAbout{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.contentDescriptionAbout{
    font-size: 24px;
    text-align: center;
}