.loadingWrapper{
    height: 40vh;
    width: 30vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.loadingmainContent{
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
}
.loadingimageWrapper{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingimageWrapper img{
    height: 100%;
    width: auto;
}
.loadingmessageWrapper{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
