.daoNav{
    border-width:0px 1px 1px 0;
     border-color: #F2E7D4;
     border-style: solid;
    width: 15vw;
    font-size: 20px;
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity:0.9;
}
.daoNav a{
    width: 100%;
    color:#FFFFFF;
    opacity:0.7;

}
.daoNav .active{
    background-color: #f2e7d461;
    color:white;
    opacity:1;

}
.navLink{
    border-top: 1px solid #F2E7D4;
    display: flex;
    align-items: center;
    height:25%;
    color:#FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.navLink:hover{
    background-color: #f2e7d461;
    color:white;
    opacity:1;

}